{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
    <link rel="stylesheet" href="{% static 'cssshki/style1.css' %}">
</head>
<body style="background-color: #5d5d5d">
    <div style="width: 75%; height: 500px; background-color: #343434; display: flex; align-items: center; gap: 10px; flex-direction: column; border-radius: 10px; margin: 0 auto; margin-top: 50px;">
        <div style="width: 95.8%; background-color: #1f1f1f; display: flex; align-items: center; gap: 10px; flex-direction: row; justify-content: space-between; padding: 0 20px; border-radius: 10px 10px 0 0;">
            <h1 style="color: white">Login</h1>
            <h1><a href="{% url 'proffile:profile_page' %}" style="color: #ffd755;">Go Back</a></h1>
        </div>
        <h2 style="color: white">Don't have an account? <a href="{% url 'proffile:register' %}" style="color: #ffd755">Register here</a></h2>

        <form method="post">
            {% csrf_token %}

            {{ form.errors }}

            {{ form.username }} <br>
            {{ form.password }} <br>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>