{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
    <link rel="stylesheet" href="{% static 'cssshki/style1.css' %}">
</head>
<body style="background-color: #121212">
    <div id="stickydiv" style="height: 75px; background-color: #1E1E1E; display: flex; align-items: center; justify-content: center; position: sticky; top: 0; z-index: 100;">
        <h1 style="color: white">Settings</h1>
    </div>

    <div>
        <h2 style="color: white">Language:</h2>
        <select>
            <option value="1">English</option>
            <option value="2">Russian</option>
        </select>
    </div>
</body>
</html>