{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
    <link rel="stylesheet" href="{% static 'cssshki/style1.css' %}">
</head>
<body style="background-color: #121212">
    <div style="background-color: #1E1E1E">
        <h1 style="color: white">Are you sure you want to delete: "{{ article.title }}"?</h1>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes</button>
            <a href="{% url 'articles:article_detail' article.id %}" style="text-decoration: none; color: white">Cancel</a>
    </form>
</body>
</html>